:root {
    --thm-font: 'Barlow', sans-serif;
    --heading-font: 'Barlow Condensed', sans-serif;
    --thm-base: #eddd5e;
    --thm-base-rgb: 237, 221, 94;
    --thm-primary: #5b8c51;
    --thm-primary-rgb: 91, 140, 81;
    --thm-black: #404a3d;
    --thm-black-rgb: 64, 74, 61;
    --thm-gray: #eceeef;
}


.Principios{
	margin-bottom: 15px;
	padding-top: 10px;
}

.th3{
	font-size: 50px;
}

.relleno_amarillo{
	background-color: #eddd5e;
}

.relleno_verde{
	background-color: #404a3d;
	width: 25%;
}

.texto_principios {
    position: relative;
    display: block;
    text-align: justify;
    background: #ffffff;
    padding-left: 90px;
    margin-left: -30px;
}

.texto_filosofia {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.cta_one_content01 {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.cta_one_content01 h1 {
    color: #ffffff;
    font-size: 50px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 22px;
}
.cta_one_content01 p {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
}

.subir{
    margin-top: -5px;
}

.barlow p, h3{
    font-family: 'Barlow', sans-serif;
}

.sombra:hover{
    opacity: 30%;
}